<%- include('../partials/head') %>

    <section>
        <div>Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>FlightNo: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Departure Date/Time: </div>
        <div>
            <%= flight.departs %>
        </div>
    </section>

    <%- include('../partials/footer') %>