<%- include('../partials/head') %>

    <dl>
        <dt>Airline:
        </dt>
        <dd>
            <%= flight.airline %>
        </dd>
        <dt>FlightNo: </dt>
        <dd>
            <%= flight.flightNo %>
        </dd>
        <dt>Origin Airport: </dt>
        <dd>
            <%= flight.airport %>
        </dd>
        <dt>Departure Date/Time: </dt>
        <dd>
            <%= flight.departs %>
        </dd>
    </dl>
    <br><br>
    <h3>Add a Destination</h3>
    <fieldset>
        <form action="/flights/<%= flight._id %>" method="POST">
            <label for="arrivalField">Arrival Date/Time:
            <input type="datetime-local" name="arrival">
          </label><br>
            <label for="airportField">Destination Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
              </select>
  </label><br>
            <div class="float-right">
                <input class="button" type="submit" value="Add Destination">
            </div>
        </form>
    </fieldset>
    <br>
    <h2>Destinations</h2>
    <% flight.destinations.sort((x, y) => x.arrival - y.arrival) %>
        <% if (flight.destinations.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Arrival Date/Time</th>
                        <th>Destination Airport</th>
                    </tr>
                </thead>
                <tbody>
                    <% flight.destinations.forEach(function(flight) { %>
                        <tr>
                            <td>
                                <%= flight.arrival %>
                            </td>
                            <td>
                                <%= flight.airport %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Destinations</h5>
                <% } %>
                    <br>
                    <h3>Current Ticketing</h3>
                    <% if (tickets.length) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Seat Reserved</th>
                                    <th>Price Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% tickets.forEach(function(ticket) { %>
                                    <tr>
                                        <td>
                                            <%= ticket.seat %>
                                        </td>
                                        <td>
                                            $
                                            <%= ticket.price %>
                                        </td>
                                    </tr>
                                    <%}); %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h4>No Ticketing Information Yet</h4>
                            <% } %>
                                <div class="float-right">
                                    <a class="button button-outline" href="/flights/<%= flight._id %>/tickets/new">Add New Ticket</a>
                                </div>
                                <br>

                                <%- include('../partials/footer') %>