<%- include('../partials/head') %>

    <section>
        <div>Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>FlightNo: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Departure Date/Time: </div>
        <div>
            <%= flight.departs %>
        </div>
    </section>
    <br><br>
    <h3>Add a Destination</h3>
    <fieldset>
        <form action="/flights/<%= flight._id %>" method="POST">
            <label>Arrival:
            <input type="datetime-local" name="arrival">
          </label><br>
            <label for="airportField">Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
              </select>
  </label><br>
            <div class="float-right">
                <input class="button" type="submit" value="Add Destination">
            </div>
        </form>
    </fieldset>
    <br>
    <h2>Destinations</h2>
    <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Arrival Date/Time</th>
                    <th>Airport</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(flight) { %>
                    <tr>
                        <td>
                            <%= flight.arrival %>
                        </td>
                        <td>
                            <%= flight.airport %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Destinations</h5>
            <% } %>

                <%- include('../partials/footer') %>